@font-face {
    font-family: "font";
    src: url("../fonts/medium.ttf");
}

* {
    --gradient: linear-gradient(89.91deg, #A65DEF 0.06%, #EF5DA8 29.59%, #5D6CEF 61.74%, #5D5FEF 88.64%, #5DBAEF 117.5%);
    --regular: "font";
}

body {
    margin: 0;
    -webkit-app-region: drag;
    padding: 0;
    font-family: var(--regular);
    background-color: rgb(245, 239, 239);
}

.app-header {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.app-control {
    position: absolute;
    right: 0;
}

.app-logo {
    display: flex;
    margin-left: 3vh;
    user-select: none;
    align-items: center;
}

.app-footer {
    flex: 1;
    height: 5vh;
    width: 100%;
    position: relative;
}

.logo {
    font-family: var(--regular);
    font-weight: 900;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vh;
    margin-top: 1.5vh;
}

.app {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    overflow-y: hidden;
}

.app-content {
    flex: 2;
    -webkit-app-region: no-drag;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.auth-form-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    justify-content: center;
}

.form-btn {
    border: none;
    border-radius: 10px;
    font-family: var(--regular);
    padding: 2vh 3vh;
    color: #fff;
    width: 30vw;
    font-size: 2.5vh;
    margin-top: 2vh;
    background-color: #A65DEF;
}

.form-btn:hover {
    filter: brightness(0.9);
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4vh;
}

.form-input {
    padding: 2vh 3vh;
    border: 1px solid #ccc;
    outline: none;
    margin: 1vh 0vh;
    width: 30vw;
    font-size: 2.5vh;
    font-family: var(--regular);
    border-radius: 20px;
}

.app-register-form {
    width: 50%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0vh;
    background: linear-gradient(103.31deg, #7539F5 11.6%, rgba(156, 38, 158, 0.74) 90.68%);
    flex: 1;
    background-color: var(--gradient);
}

.app-register-form .auth-form {
    margin-top: 9vh;
    color: #fff;
}

.auth-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    -webkit-app-region: no-drag;
    width: 50%;
    text-align: center;
}

.version {
    color: rgb(186, 186, 186);
    position: absolute;
    -webkit-user-select: none;
    right: 2vh;
    bottom: 2vh;
}

.app-mini-button img {
    height: 4vh;
    width: 4vh;
}

.app-link:hover svg {
    fill: rgba(255, 255, 255, 0.1);
}

.cloud-decorates {
    position: absolute;
    bottom: -2vh;
    left: -1vw;
}

.app-links {
    position: absolute;
    right: 20vw;
    bottom: 15vh;
}

.app-control span {
    position: relative;
    right: 2vh;
    cursor: pointer;
    top: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.app-control {
    -webkit-app-region: no-drag;
}

.app-mini-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#minimize-btn:hover {
    background-color: transparent !important;
    cursor: default;
}

#app-close {
    -webkit-app-region: no-drag;
}