
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    --gradient: linear-gradient(89.91deg, #A65DEF 0.06%, #EF5DA8 29.59%, #5D6CEF 61.74%, #5D5FEF 88.64%, #5DBAEF 117.5%);
    --regular: 'Fira Sans', sans-serif;
}
body{
    margin: 0;
    -webkit-app-region: drag;
    padding: 0;
    background-color: rgb(245, 239, 239);
}
.top__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.top__logo {
    display: flex;
    user-select: none;
    align-items: center;
}
.top__logo__part1 {
    height: 10vh;
    width: auto;
}
.top__logo__part2 {
    font-family: var(--regular);
    font-weight: 900;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3vh;
    margin-top: 1.5vh;
}